/* Universal style */

.btn-hover{
    padding: 5px;
    border-radius: 5px;
}

.btn-hover:hover{
    background-color: skyblue;
    color: white;
}

/* Text Size , Style , Decoration */

.fontSize{

    font-weight: 900;
}

.fontStyle{

    font-style: italic;
}

.underline{

    text-decoration: underline;
}

/* Text Font-family*/

.p-font{

    font-family: 'Zeyada', cursive;
}

/* Media query */

@media screen and (min-width:776px){

    #text-area{

        width:950px;
        height: 400px;
    }
}

@media screen and (max-width:776px){
    
    #text-area{

        width:100%;
        height: 100vh;
    }
}